@-webkit-keyframes slideinfromright {
  from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0); }
	}

@-webkit-keyframes slideouttoleft {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(-100%); }
	}

@-webkit-keyframes slideinfromleft {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0); }
	}

@-webkit-keyframes slideouttoright {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(100%); }
	}



@-moz-keyframes slideinfromright {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(0); }
	}    
 
 
 
 @-webkit-keyframes slideupin {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
	}

@-webkit-keyframes slideupout {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(-100%); }
	}

  @-webkit-keyframes slidedownin{
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
	}

@-webkit-keyframes slidedownout {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(100%); }
	}
	
	
@-webkit-keyframes flipoutleft {
	from { -webkit-transform: rotateY(0deg); }
	to { -webkit-transform: rotateY(180deg); }
	}
 
 @-webkit-keyframes flipinleft {
	from { -webkit-transform: rotateY(180deg); }
	to { -webkit-transform: rotateY(0deg); }
	}
	
	@-webkit-keyframes slideinfromleft34 {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(-25%); }
	}
    
    	@-webkit-keyframes slideoutfromleft34 {
	from { -webkit-transform: translateX(-25%); }
	to { -webkit-transform: translateX(-100%); }
	}
    
.slidein34 {
 	-webkit-transform: translateX(-25%);
	-webkit-animation-name: slideinfromleft34;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 150ms;
	-webkit-transform hardware acceleration;
	} 
.slideout34 {
 	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideoutfromleft34;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 150ms;
	-webkit-transform hardware acceleration;
	} 
	
	
 
 .flipoutleft {
	-webkit-animation-name: flipoutleft;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 300ms;
	-webkit-transform hardware acceleration;
	}
 .flipinleft {
	-webkit-animation-name: flipinleft;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 300ms;
	-webkit-transform hardware acceleration;
	}
 
 
    
.slidein {
 	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-webkit-animation-name: slideinfromright;
	-moz-animation-name: slideinfromright;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 150ms;
	-webkit-transform hardware acceleration;
	}
			
.slideout {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-moz-animation-name: slideouttoleft;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 150ms;
	-webkit-transform hardware acceleration;
	}
	
.slideupout {
 	-webkit-transform: translateY(100);
	-webkit-animation-name: slideupout;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 300ms;
	-webkit-transform hardware acceleration;
	}
	
.slideupin {
 	-webkit-transform: translateY(0);
	-webkit-animation-name: slideupout;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 100ms;
	-webkit-transform hardware acceleration;
	}
	
				
.slidedownin {
	-webkit-transform: translateY(-100%);
	-webkit-animation-name: slidedownin;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 300ms;
	-webkit-transform hardware acceleration;
	}
	
	
.slidedownout{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-animation-name: slideouttoleft;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 100ms;
	-webkit-transform hardware acceleration;
	}
		
.slideinreverse {
 	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-webkit-animation-name: slideinfromleft;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 150ms;
	-webkit-transform hardware acceleration;
	}
			
.slideoutreverse {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-webkit-animation-name: slideouttoright;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 150ms;
	-webkit-transform hardware acceleration;
	}
	
.slidedownin {
 	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-animation-name: slidedownin;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 300ms;
	-webkit-transform hardware acceleration;
	}
.slideupin {
 	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-animation-name: slideupin;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 300ms;
	-webkit-transform hardware acceleration;
	}
.slidedownout {
 	-webkit-transform: translateY(-100);
	-moz-transform: translateY(-100);
	-webkit-animation-name: slidedownout;
	-webkit-animation-timing-function: ease-in;
	-webkit-transform hardware acceleration;
	-webkit-animation-duration: 300ms;
	}
	
	
.fadein
{
-webkit-animation-name: cf3FadeIn;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: normal;
  
    }
    @-webkit-keyframes cf3FadeIn {
 0% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

.fadeout
{
-webkit-animation-name: cf3FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: normal;
     animation-delay:1s;
     -webkit-transform hardware acceleration;
    }
    @-webkit-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 100% {
   opacity:0;
 }
} 


.fadeininner
{
-webkit-animation-name: cf3FadeIn;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: normal;
  
    }
    @-webkit-keyframes cf3FadeIn {
 0% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

.fadeoutinner
{
-webkit-animation-name: cf3FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: normal;
     animation-delay:1s;
     -webkit-transform hardware acceleration;
    }
    @-webkit-keyframes cf3FadeInOut {
 0% {
   opacity:1;
 }
 100% {
   opacity:0;
 }
} 

	
.low{
	-webkit-animation-name: halffadeout;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: normal;
     opacity:.4;

	}
.high{
	-webkit-animation-name: halffadein;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: normal;
     }
     
    .bigsearch{
    -webkit-animation-name: getbig;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: forward;
     width:205px;
     }
     
.smallsearch{
	width:22px;
    -webkit-animation-name: getsmall;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: forward;
	}
  
  .optionsup{
	top:69px;
    -webkit-animation-name: optionsup;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: forward;
	}
.optionsdown{
	top:137px;
    -webkit-animation-name: optionsdown;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .3s;
    -webkit-animation-direction: forward;
	}
	
.postup{
	top:-140px;
    -webkit-animation-name: postup;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .1s;
    -webkit-animation-direction: forward;
	}
.postdown{
	top:45px;
    -webkit-animation-name: postdown;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform hardware acceleration;
    -webkit-animation-duration: .1s;
    -webkit-animation-direction: forward;
	}
    @-webkit-keyframes halffadeout {
 	0% {
 	  opacity:1;
 	}
	 100% {
	   opacity:.4;
	 }
	}

    @-webkit-keyframes halffadein {
 	0% {
 	  opacity:.4;
 	}
	 100% {
	   opacity:1;
	 }
	}
	
  @-webkit-keyframes getbig {
 	0% {
 	 width:22px;
 	}
	 100% {
	  width:205px;
	 }
	}
  @-webkit-keyframes getsmall {
 	0% {
 	 width:205px;
 	}
	 100% {
	  width:22px;
	 }
	}
	
	
 @-webkit-keyframes optionsup {
 	0% {
 	top:136px;
 	}
	 100% {
	  top:69px;
	 }
	}
  @-webkit-keyframes optionsdown {
 	0% {
 	 top:69px;
 	}
	 100% {
	  top:136px;
	 }
	}
	
@-webkit-keyframes postup {
 	0% {
 	top:45px;
 	}
	 100% {
	  top:-140px;
	 }
	}
  @-webkit-keyframes postdown {
 	0% {
 	 top:-140px;
 	}
	 100% {
	  top:45px;
	 }
	}		
